.cover__subtitle {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  z-index: 20;
  max-width: 360px;
  margin: 32px auto;
  text-align: center;
  position: relative;
}

@media screen and (max-width: 1024px) {
  .cover__subtitle {
    width: calc(100% - 464px);
  }
}

/* 768 */
@media screen and (max-width: 768px) {
  .cover__subtitle {
    width: calc(100% - 208px);
  }
}

/* 320 */
@media screen and (max-width: 576px) {
  .cover__subtitle {
    width: calc(100% - 32px);
    font-size: 14px;
    line-height: 16px;
    margin: 0 0 16px;
  }
}
